<div class="container">
  <h1><%= @bug.name %>のレーダーチャート</h1>
  <div class="row">
    <div class="col-12">
      <%= render 'form', bug: @bug, radar_chart: @radar_chart, url: bug_radar_chart_path(@bug) %>
    </div>
  </div>
</div>