<div class="dropdown mb-3">
  <%= link_to '並び替え', '#', class: 'btn dropdown-toggle border border-2',  id: 'dropdownMenuButton', 'data-bs-toggle': 'dropdown', 'aria-expanded': 'false'%>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><%= link_to '新しい順', bug_comments_sort_path(bug, 'type': 'desc'), class: 'dropdown-item', remote: true %></li>
    <li><%= link_to '古い順', bug_comments_sort_path(bug, 'type': 'asc'), class: 'dropdown-item', remote: true %></li>
    <li><%= link_to 'いいね順', bug_comments_sort_path(bug, 'type': 'like'), class: 'dropdown-item', remote: true %></li>
  </ul>
</div>
