<%= form_with model: [bug, comment], url: url, id: 'new_comment' do |f| %>
  <div class="row">
    <div class="form-group mb-3offset-1">
      <%= f.label :sentence %>
      <%= f.text_field :sentence, class: 'form-control', id: 'js_new_comment_body' %>
    </div>

    <div class="actions mb-3">
      <%= f.submit 'コメントを投稿する', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>