<footer>
  <div class="text-center p-3">
    <%= link_to 'プライバシーポリシー', privacy_policy_path, style: 'color: black;' %>
    <%= link_to '利用規約', terms_path, style: 'color: black;' %>
    <%= link_to 'お問い合わせ', 'https://docs.google.com/forms/d/e/1FAIpQLSeIouFt-IiXvL9ZjCC54dBtGPtKjPOU6Tpj3LgGWkt_onSKCg/viewform?usp=sf_link', 
                style: 'color: black;', target: :_blank, rel: "noopener noreferrer" %>
    <p class="pt-2">Copyright ©︎ 2021 むしめがね</p>
  </div>
</footer>