/*画像ぼかし*/

.blur_active {
  filter: blur(5px);
}

.hide_button {
  display: none;
}

/*ここまで*/

.bug_show {
  border: 1px solid #ccc;
  border-radius:20px;
  box-shadow: 0px 0px 8px gray;
  width: 80%;
  background-color: rgba(221, 211, 211, 0.8);
}

.bug_image_contents {
  text-align: center;
}

.show_image_size {
  width: 50%;
  height: 400px;
}

#blur_button_show {
  transition: .3s;
  border-radius:30px;

  &:hover {
    background: rgb(50,205,50);
    color: white;
  }
}

#no_blur_button_show {
  transition: .3s;
  border-radius:30px;

  &:hover {
    background: rgb(0,191,255);
    color: white;
  }
}

.bug_comments {
  padding: 25px 0;
  width: 80%;
}

.comment_list {
  list-style: none;
}

.comment_sentence {
  background-color: white;
  border-radius:20px;
}

.comment_index {
  border: 1px solid #ccc;
  border-radius:20px;
  box-shadow: 0px 0px 8px gray;
  background-color: rgba(221, 211, 211, 0.8);
}

.comment_new {
  border: 1px solid #ccc;
  border-radius:20px;
  box-shadow: 0px 0px 8px gray;
  background-color: rgba(221, 211, 211, 0.8);
}

.nav-tabs {
  border-bottom: 2px solid gray;

  & .nav-link.active {
    background-color: rgb(50,205,50);
    color: #FFF;
    border-width: 3px;
    border-top-color: gray;
    border-right-color: gray;
    border-bottom-color:rgba(221, 211, 211, 0.5);
    border-left-color: gray;
  }

  & .nav-link {
    color: rgb(34,139,34);
  }
}

.orangered_color {
  color: rgb(50,205,50);

  &:hover {
    color: rgb(34,139,34);
  }
}

.orangered_btn {
  background-color: rgb(50,205,50);
  color: white;
  border-radius: 15px;
  padding: 5px 15px;

  &:hover {
    background-color: rgb(34,139,34);
    color: white;
  }
}

/*pcのときのレーダーチャート*/
@media screen and (min-width: 481px) {
  .radar_chart {
    width: 50%;
    margin: 0 auto;
  }
}

/*スマホ*/
@media screen and (max-width: 480px) {
  .bug_show {
    width: 95%;
  }

  .bug_show_image {
    width: 90%;
  }

  .show_image_size {
    width: 90%;
    height: 250px;
  }

  #myTab {
    font-size: small;
  }


  .bug_comments {
    width: 85%;
  }
}