/*タブメニュー*/

/* .container {
  margin: 10px;
  border: 1px solid #ccc;
}

.tab-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style: none;
}

.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #CCC;
}

.tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}

.tabbox {
  display: none;
  padding: 15px;
}

.box-show {
  display: block;
}
*/
/*ここまでタブメニュー*/

/*画像ぼかし*/

.blur_active {
  filter: blur(3px);
}

.hide_button {
  display: none;
}

/*ここまで*/

.bug_show {
  border: 1px solid #ccc;
  border-radius:20px;
  box-shadow: 0px 0px 8px gray;
  padding: 25px;
  width: 80%;
}

.bug_comments {
  padding: 25px 0;
  width: 80%;
}

.comment_index {
  border: 1px solid #ccc;
  border-radius:20px;
  box-shadow: 0px 0px 8px gray;
}

.comment_new {
  border: 1px solid #ccc;
  border-radius:20px;
  box-shadow: 0px 0px 8px gray;
}

.nav-tabs .nav-link.active {
  background-color: #19b5d1;
  color: #FFF;
}
