/*タブメニュー*/

.container {
  margin: 10px;
  border: 1px solid #ccc;
}

.tab-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style: none;
}

.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #CCC;
}

.tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}

.tabbox {
  display: none;
  padding: 15px;
}

.box-show {
  display: block;
}
/*ここまでタブメニュー*/

/*画像ぼかし*/

.blur_active {
  filter: blur(3px);
}

.hide_button {
  display: none;
}
