.header_body {
  background: rgba(255,255,255,0.5);
  padding: 15px 20px;
  width: 100%;
  box-shadow: 0px 2px 4px gray;
  position: fixed;
  transition: .5s;
  z-index: 1500;
}

.header_transform {
  background: rgba(221, 211, 211, 0.9);
  padding: 1px 20px;
}

.top_margin {
  padding-top: 100px;
  background-color: rgba(221, 211, 211, 0.5);
}

.wf-nicomoji { 
  font-family: "Nico Moji"; 
  font-size: xx-large;
}
