#top_page_top {
  width: 100%;
  padding-bottom: 800px;
  background: no-repeat url('../../assets/images/chair_large.jpeg');
  background-size: 100% 100%;
  background-position: 50% 50%;
}

#second_sentence {
  padding-top: 150px;
  padding-bottom: 200px;
  background-color: #FFFFDD;
}

#second_sentence_title {
  padding-bottom: 100px;
}

#third_sentence {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 200px;
  background: no-repeat url('../../assets/images/tea.jpeg');
  background-size: 100% 100%;
  background-position: 50% 50%;
}

#third_sentence_title {
  border-bottom: 3px dashed #000;
  padding-bottom: 30px;
}

.service_name {
  font-weight: bolder;
}

#third_sentence_list {
  width: 100%;
  margin: 0 auto;
  max-width: 350px;
}

.top_page_flash {
  padding-top: 100px;
}

/*
.home_search_btn {
  display: flex;
  justify-content: center;
}
*/

/*スマホ*/
@media screen and (max-width: 480px) {

  #top_page_top {
    padding-bottom: 450px;
    background: no-repeat url('../../assets/images/black_chair.jpeg');
    background-size: 100% 100%;
  }
  
  #first_sentence {
    width: 90%;
    padding: 0 5px;
    padding-top: 40px;
  }

  #first_sentence_title {
    color: white;
  }

  #second_sentence {
    padding: 0 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #FFFFDD;
  }

  #second_sentence_title {
    padding-bottom: 50px;
  }

  #second_sentence_body {
    padding: 0 10px;
  }

  #third_sentence {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background: no-repeat url('../../assets/images/coffee.jpeg');
    background-size: 100% 100%;
    background-position: 50% 50%;
  }

  #third_sentence_body {
    color: white;
  }
}
