<div class="col-md-4 col-sm-12 m-4">
  <div class="bug-title">
    <%= bug.name %>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="bug-image">
        <%= bug.image %>
      </div>
    </div>
    <div class="col-6">
      <div class="bug-illustration">
        <%= bug.illustration %>
      </div>
    </div>
  </div>