<div class="container">
  <h1>検索結果一覧</h1>
  <div class="row">
    <% if @bugs.present? %>
      <%= render @bugs %>
    <% else %>
      <p>検索条件にマッチする虫がいません</p>
    <% end %>
    <%= link_to '家にいる不快な虫を登録する', new_bug_path %>
    <%= paginate @bugs %>
  </div>
</div>
