<div class="pt-2" style="background-color: rgba(221, 211, 211, 0.5);">
  <div class="container" id="new_page">
    <h1 class="mb-4 pb-2 border-bottom border-dark" >家にいる不快な虫を登録</h1>
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <%= render 'form', bug: @bug %>
      </div>
    </div>
  </div>
</div>